@charset "utf-8";
/* CSS Document */
			body{
			background-image: linear-gradient(#19191B, #433572);
			font-size: 10px;
			line-height: 350%;
			color: black;
/*			border: solid #4F4260 20px;*/
			padding: 150px;
			margin: 40px;
			width: fixed;
			font-family: "Yu Gothic UI", "Yu Gothic"
			
				
		}
	.gallery-grid{
			width: 100%;
			padding: 0 2rem;
			text-align: center;
		}
	.polaroid {
			background: #fff;
			padding: 1rem;
			box-shadow: 0 0.2rem 1.2rem rgba(0,0,0,0.2);
  
		}

	.polaroid > img{
 		 	max-width: 100%;
  			height: auto;
		}
	.caption {
			font-size: 1.8rem;
 			text-align: center;
 			line-height: 2em;
	}
		.gallery-item{
			width: 30%;
 		 	display: inline-block;
			margin-top: 2rem;
  			filter: grayscale(100%);
		}
		.gallery-item .polaroid:before {
		  content: '';
		  position: absolute;
		  z-index: -1;
		  transition: all 0.35s;
		}
		.gallery-item:nth-of-type(4n+1) {
		  transform: scale(0.8, 0.8) rotate(5deg);
		  transition: all 0.35s;
		}
		.gallery-item:nth-of-type(4n+1) .polaroid:before {
		  transform: rotate(6deg);
		  height: 20%;
		  width: 47%;
		  bottom: 30px;
		  right: 12px;
		  box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.4);
		}
		.gallery-item:nth-of-type(4n+2) {
		  transform: scale(0.8, 0.8) rotate(-5deg);
		  transition: all 0.35s;
		}
		.gallery-item:nth-of-type(4n+2) .polaroid:before {
		  transform: rotate(-6deg);
		  height: 20%;
		  width: 47%;
		  bottom: 30px;
		  left: 12px;
		  box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.4);
		}
		.gallery-item:nth-of-type(4n+4) {
		  transform: scale(0.8, 0.8) rotate(3deg);
		  transition: all 0.35s;
		}
		.gallery-item:nth-of-type(4n+4) .polaroid:before {
		  transform: rotate(4deg);
		  height: 20%;
		  width: 47%;
		  bottom: 30px;
		  right: 12px;
		  box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.3);
		}
		.gallery-item:nth-of-type(4n+3) {
		  transform: scale(0.8, 0.8) rotate(-3deg);
		  transition: all 0.35s;
		}
		.gallery-item:nth-of-type(4n+3) .polaroid:before {
		  transform: rotate(-4deg);
		  height: 20%;
		  width: 47%;
		  bottom: 30px;
		  left: 12px;
		  box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.3);
		}
		.gallery-item:hover {
		  filter: none;
		  transform: scale(1, 1) rotate(0deg) !important;
		  transition: all 0.35s;
		}
		.gallery-item:hover .polaroid:before {
		  content: '';
		  position: absolute;
		  z-index: -1;
		  transform: rotate(0deg);
		  height: 90%;
		  width: 90%;
		  bottom: 0%;
		  right: 5%;
		  box-shadow: 0 1rem 3rem rgba(0,0,0,0.2);
		  transition: all 0.35s;
		}

		.wrapper {
			background: F5F5F5;
			float: left;
    		display: block;
    		text-align: center;
    		text-decoration: none;
		}
		.wrapper a:hover {
    		background-color: #ddd;
    		color: black;
			border-radius: 0px;
			padding: 7px 10px 8px 10px;
  		}
		

		h1{
			font-size: 40px;
			margin-left: 20px
		}
		
		h2{
			color: #1E1D1C ;
			font-size: 30px;
			margin-left: 20px
		}
		h3{
			font-size: 20px;
			margin-left: 20px;
		}
		p{
			font-size: 20px;
			padding: 10px 90px 10px 90px;
			border-color: pink 20px;
			border-radius: 20px;
			margin-top: 20px;
			text-align: left;
			
		}
		blockquote{
			font-size: 20px;
			padding: 50px;
			border-color: pink 20px;
			border-radius: 20px;
			margin-top: -90px;
		}
		a{
/*			background:  #A47474;*/
			border-radius: 10px;
			padding: 10px;
			color: aliceblue;
			text-decoration: none;
		}
		a.link{
			color: blue;
			text-decoration: none;
		}
		
		}
		.link a:hover {
    		background-color: #ddd;
    		color: black;
		border-radius: 0px;
		padding: 7px 10px 8px 10px;
		text-decoration: underline;
  		}
		hr{
			border: none;
/*   			height: 10px;*/
   			background: #68859E;
			padding: 2px;
			
		}
		nav{
			align-self: center;
			background: #68859E;
			font-size: 15px;
		}
		ol{
			color:white;
			padding: 10px;
		}
			
		.table-style{
			display: flex;
  			justify-content: center;
		}
		table {
  			width: 100%;
  			border-collapse: collapse;
			align-content: center;
			font-size: 16px;
		}

/*table header*/
		th {
  			background-color: #f2f2f2;
  			color: #333;
  			font-weight: bold;
  			padding: 10px;
  			text-align: left;
		}

		td {
  			padding: 10px;
 			border-bottom: 1px solid #ddd;
		}

/*table rows*/
		tr:nth-child(even) {
 			background-color: #f9f9f9;
		}
		li{
			color: black;
			font-size: 15px; 
		}
		
		ol{
			
  			text-align: left;
			margin: auto;
			max-width: 600px;
		}

		.top{
			color: black;
			font-size: 20px;
			
		}
